body { font-family: helvetica, arial, sans-serif; background: #efefef; margin: 0; }
#wrapper { width: 980px; margin: 0 auto; }


header > nav,
header > section,
header > form { display: inline-block; }
header > section h1 { color: #4eb8ea; margin: 0; }
header > section h2 { font: .5em "runda", helvetica, sans-serif; margin: 0; }
header > nav ul       { list-style-type: none; }
header > nav ul li    { float: left; }
header > nav ul li a  { position: relative; text-decoration:none; color:#fff; padding: 2px; width: 20%;} 
header > nav ul li:first-child a { border-top-left-radius: 10px; }
header > nav ul li.choice1 a { background: #f58c21; }