header {
  display: block;
  overflow: hidden;
  width: 500px;
  margin: 30px auto;
  font-family: helvetica, arial, sans-serif;
  border-radius: 6px;
  background: #ddd;
}
form.search               { float: right; width: 260px; margin: 5px; padding:5px; }
form.search input         { float: right; width: 70px; padding: 2px 0 3px 5px; outline: none; font-size:.8em; border-color: #eee #ccc #ccc #eee; border-radius: 10px; }
form.search input:focus   { width: 200px; -webkit-transition: 2s width;}
form.search label         { display: none; }
